.project {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      20rem,
      2fr
    )
  );
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .project {
    grid-template-columns: 1fr; 
    gap: 1rem; 
    padding: 1rem; 
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .project {
    grid-template-columns: repeat(
      2,
      1fr
    ); 
    gap: 1rem; 
    padding: 1rem; 
  }
}
